@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  background-color: #5ab3f7;
  width: 100%;
  padding-bottom: 20px;
}

.background-image {
  z-index: -2;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #5ab3f7;
  width: 100%;
  padding: 15px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: #257aba;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Press Start 2P";
}

html {
  min-height: 100%;
}

#__next {
  min-height: 100%;
}
