@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  min-height: 100%;
}

.searchContainer {
  display: flex;
  margin: 20px 0 20px 0;
}

.input {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0 10px 0 10px;
  font-family: "Press Start 2P";
  box-sizing: border-box;
}

.input:hover {
  background-color: #f1f1f1;
}

.input:focus {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  background-color: #f1f1f1;
  border-color: #afafaf;
}

.button {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: #257bba;
}

.button:hover {
  background-color: #1d6396;
}

.pokemonCard {
  display: flex;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  height: 200px;
  width: 200px;
  line-height: 20px;
  background-color: #fccc02;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

.pokemonCard:hover {
  background-color: #f1c100;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #997a00;
}

.pokemonList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.nameContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.grassImage {
  border-radius: 10px;
}
