.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: #fccc02;
  border-radius: 20px;
  width: 340px;
}

.detailsContainer {
  width: 100%;
  background-color: #ddb100;
  text-align: start;
  border-radius: 20px;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
}

.detailsContainer p {
  margin: 0 0 20px 0;
  font-size: 14px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  width: 100%;
  height: 300px;
}

.image {
  width: 200px;
  height: 200px;
}
